<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="https://pan.01.hn/home">{{GetConfig('title')}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                {%for user in get_od_user()%}
                    {%if user[1]!='添加网盘'%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{user[2]}}" class="active">{{user[1]}}</a>
                    </li>
                    {%endif%}
                {%endfor%}
            </ul>
        </div>
        <div class="form-inline my-2 my-lg-0" _lpchecked="1">
          <input class="form-control mr-sm-2" type="text" id='key_word' placeholder="关键词">
          <button class="btn btn-secondary my-2 my-sm-0" onclick="py_find();">搜索</button>
        </div>
    </div>
</nav>
<br>
<div class="container mt-3">
    {%if path%}
    <nav aria-label="breadcrumb" class="d-none d-md-block d-md-none">
        <ol class="breadcrumb">
            {%for name,p,last in breadCrumb(path)%}
                {%if last==False%}
                <li class="breadcrumb-item"><a href="{{p}}">{{name}}</a></li>
                {%else%}
                <li class="breadcrumb-item active">{{name}}</li>
                {%endif%}
            {%endfor%}
        </ol>
    </nav>
    {%endif%}
</div>
