{%extends 'admin/layout.html'%} {%block content%}
<div class="mdui-container-fluid">
    <div class="mdui-typo">
        <h1> 离线下载 <small>远程文件->服务器->onedrive</small></h1>
    </div>
    <div class="mdui-toolbar mdui-color-theme">
      <button class="mdui-btn mdui-btn-icon" onclick="AddLink()" mdui-tooltip="{{'{'}}content: '添加任务'{{'}'}}"><i class="mdui-icon material-icons">&#xe250;</i></button>
    </div>
    <div class="mdui-panel" mdui-panel>
            <div class="mdui-panel-item">
              <div class="mdui-panel-item-header">
                <div class="mdui-panel-item-title">离线下载列表</div>
              </div>
              <div class="mdui-panel-item-body mdui-panel-item-open">
                <div class="mdui-table-fluid">
                    <table class="mdui-table">
                      <caption>进行中任务</caption>
                        <thead>
                            <tr>
                                <th class="mdui-table-cell-checkbox" id="SelectAll" style="width: 60px;">
                                    <label class="mdui-checkbox">
                                        <input type="checkbox" onclick="reserveCheck('active')"><i class="mdui-checkbox-icon"></i>
                                    </label>
                                </th>
                                <th>文件名称</th>
                                <th>文件大小</th>
                                <th>服务器下载状态</th>
                                <th>onedrive上传状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="active">
                        </tbody>
                    </table>
                </div>
                <br>
                <hr>
                <br>
                <div class="mdui-table-fluid">
                    <table class="mdui-table">
                      <caption>失败任务</caption>
                        <thead>
                            <tr>
                                <th class="mdui-table-cell-checkbox" id="SelectAll" style="width: 60px;">
                                    <label class="mdui-checkbox">
                                        <input type="checkbox" onclick="reserveCheck('fail')"><i class="mdui-checkbox-icon"></i>
                                    </label>
                                </th>
                                <th>文件名称</th>
                                <th>文件大小</th>
                                <th>服务器下载状态</th>
                                <th>onedrive上传状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="fail">
                        </tbody>
                    </table>
                </div>
                <br>
                <hr>
                <br>
                <div class="mdui-table-fluid">
                    <table class="mdui-table">
                      <caption>成功任务</caption>
                        <thead>
                            <tr>
                                <th class="mdui-table-cell-checkbox" id="SelectAll" style="width: 60px;">
                                    <label class="mdui-checkbox">
                                        <input type="checkbox" onclick="reserveCheck('success')"><i class="mdui-checkbox-icon"></i>
                                    </label>
                                </th>
                                <th>文件名称</th>
                                <th>文件大小</th>
                                <th>服务器下载状态</th>
                                <th>onedrive上传状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="success">
                        </tbody>
                    </table>
                </div>
                <br>
                <hr>
                <br>
                <div class="mdui-table-fluid">
                    <table class="mdui-table" mdui-tooltip="{content: '同一个磁力下，可选择不下载哪些文件'}">
                      <caption>选择不下载文件</caption>
                        <thead>
                            <tr>
                                <th class="mdui-table-cell-checkbox" id="SelectAll" style="width: 60px;">
                                    <label class="mdui-checkbox">
                                        <input type="checkbox" onclick="reserveCheck('unselected')"><i class="mdui-checkbox-icon"></i>
                                    </label>
                                </th>
                                <th>文件名称</th>
                                <th>文件大小</th>
                                <th>服务器下载状态</th>
                                <th>onedrive上传状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody id="unselected">
                        </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
</div>
<script>
var need_refresh=true;
function ShowNotice(msg){
    mdui.snackbar({
          message: msg,
          position: 'top'
        });
}

function reserveCheck(name) {
    var revalue = document.getElementsByName(name);
    for (i = 0; i < revalue.length; i++) {
        if (revalue[i].checked == true){
            revalue[i].checked = false;
            need_refresh=true;
        }
        else {
            revalue[i].checked = true;
            need_refresh=false;
        }
    }
}
function DoAction(action,gid){
    var defer = $.Deferred();
    $.ajax({
        type: "POST",
        url: "{{url_for('admin.RPCserver')}}",
        data: { action:action,gid:gid },
        cache: false, //使用同步的方式,true为异步方式
        dataType: "json",
        success: function(data) {
            defer.resolve(data);
            ShowNotice(data['result'][0]['msg']);
            defer.promise();
        }
    });
}
function pause(gid){
    var defer = $.Deferred();
    $.ajax({
        type: "POST",
        url: "{{url_for('admin.RPCserver')}}",
        data: { action:'pause',gid:gid },
        cache: false, //使用同步的方式,true为异步方式
        dataType: "json",
        success: function(data) {
            defer.resolve(data);
            ShowNotice(data['result'][0]['msg']);
            defer.promise();
        }
    });
}
function unpause(gid){
    var defer = $.Deferred();
    $.ajax({
        type: "POST",
        url: "{{url_for('admin.RPCserver')}}",
        data: { action:'unpause',gid:gid },
        cache: false, //使用同步的方式,true为异步方式
        dataType: "json",
        success: function(data) {
            defer.resolve(data);
            ShowNotice(data['result'][0]['msg']);
            defer.promise();
        }
    });
}
function remove(gid){
    var defer = $.Deferred();
    $.ajax({
        type: "POST",
        url: "{{url_for('admin.RPCserver')}}",
        data: { action:'remove',gid:gid },
        cache: false, //使用同步的方式,true为异步方式
        dataType: "json",
        success: function(data) {
            defer.resolve(data);
            ShowNotice(data['result'][0]['msg']);
            defer.promise();
        }
    });
}
function removeAll(gid){
    var defer = $.Deferred();
    $.ajax({
        type: "POST",
        url: "{{url_for('admin.RPCserver')}}",
        data: { action:'removeAll',gid:gid },
        cache: false, //使用同步的方式,true为异步方式
        dataType: "json",
        success: function(data) {
            defer.resolve(data);
            ShowNotice(data['result'][0]['msg']);
            defer.promise();
        }
    });
}
function restart(gid){
    var defer = $.Deferred();
    $.ajax({
        type: "POST",
        url: "{{url_for('admin.RPCserver')}}",
        data: { action:'restart',gid:gid },
        cache: false, //使用同步的方式,true为异步方式
        dataType: "json",
        success: function(data) {
            defer.resolve(data);
            ShowNotice(data['result'][0]['msg']);
            defer.promise();
        }
    });
}
function selected(gid){
    var defer = $.Deferred();
    $.ajax({
        type: "POST",
        url: "{{url_for('admin.RPCserver')}}",
        data: { action:'selected',gid:gid },
        cache: false, //使用同步的方式,true为异步方式
        dataType: "json",
        success: function(data) {
            defer.resolve(data);
            ShowNotice(data['result'][0]['msg']);
            defer.promise();
        }
    });
}
function unselected(gid){
    var defer = $.Deferred();
    $.ajax({
        type: "POST",
        url: "{{url_for('admin.RPCserver')}}",
        data: { action:'unselected',gid:gid },
        cache: false, //使用同步的方式,true为异步方式
        dataType: "json",
        success: function(data) {
            defer.resolve(data);
            ShowNotice(data['result'][0]['msg']);
            defer.promise();
        }
    });
}

function AddLink() {
    layer.prompt({
            formType: 2,
            title: '请输入下载链接（一行一个）',
            maxlength:10000
        },
        function(value, index, elem) {
            layer.close(index);
            var defer = $.Deferred();
            $.ajax({
                type: "POST",
                url: "{{url_for('admin.off_download')}}",
                data: { grand_path: "{{grand_path}}", urls: value, user: "{{cur_user}}" },
                // async: false, //使用同步的方式,true为异步方式
                dataType: "json",
                beforeSend: function(xhr) {
                    var index2 = layer.load(2, {
                        shade: [0.1, '#fff'] //0.1透明度的白色背景
                    });
                },
                success: function(data) {
                    defer.resolve(data);
                    if (data.status) {
                        ShowNotice('添加任务成功！');
                    } else {
                        ShowNotice(status);
                    }
                },
                complete: function(xhr) {
                    defer.promise();
                    $('#layui-layer-shade1').remove();
                    setTimeout("window.location.reload();",2000);
                }
            });
        });
}

function tellActive() {
    var defer = $.Deferred();
    $.ajax({
        type: "POST",
        url: "{{url_for('admin.RPCserver')}}",
        data: { action:'tellActive' },
        cache: false, //使用同步的方式,true为异步方式
        // async: false, //使用同步的方式,true为异步方式
        dataType: "json",
        success: function(data) {
            defer.resolve(data);
            if (data.code==1) {
                $('#active').empty();
                for (var i = 0; i <= data.result.length - 1; i++) {
                    t=data.result[i];
                    html='<tr>';
                    html+='<td class="mdui-table-cell-checkbox"><label class="mdui-checkbox"><input type="checkbox" name="active" value="\''+t['gid']+'#'+t['idx']+'\'"><i class="mdui-checkbox-icon"></i></label></td>';
                    html+='<td>'+t['name']+'</td>';
                    html+='<td>'+t['size']+'</td>';
                    html+='<td>'+t['down_status']+'</td>';
                    html+='<td>'+t['up_status']+'</td>';
                    //active -- >pause/unpause/remove
                    td='<td>';
                    if(t['down_status']=='暂停下载'){
                        td+='<button class="mdui-btn mdui-btn-icon" onclick="unpause(\''+t['gid']+'#'+t['idx']+'\')" mdui-tooltip="{content: \'开始任务\'}"><i class="mdui-icon material-icons">&#xe037;</i></button> ';
                    }
                    else{
                        td+='<button class="mdui-btn mdui-btn-icon" onclick="pause(\''+t['gid']+'#'+t['idx']+'\')" mdui-tooltip="{content: \'暂停任务\'}"><i class="mdui-icon material-icons">&#xe047;</i></button> ';
                    }
                    if(t['selectable']=='true'){
                        td+='<button class="mdui-btn mdui-btn-icon" onclick="unselected(\''+t['gid']+'#'+t['idx']+'\')" mdui-tooltip="{content: \'选择不下载文件\'}"><i class="mdui-icon material-icons">&#xe5c9;</i></button>';
                    }
                    td+='<button class="mdui-btn mdui-btn-icon" onclick="remove(\''+t['gid']+'#'+t['idx']+'\')" mdui-tooltip="{content: \'删除任务\'}"><i class="mdui-icon material-icons">&#xe872;</i></button>';
                    td+='<button class="mdui-btn mdui-btn-icon" onclick="removeAll(\''+t['gid']+'\')" mdui-tooltip="{content: \'删除同磁力下所有任务\'}"><i class="mdui-icon material-icons">&#xe92b;</i></button>';
                    td+='<button class="mdui-btn mdui-btn-icon" onclick="restart(\''+t['gid']+'\')" mdui-tooltip="{content: \'重新开始\'}"><i class="mdui-icon material-icons">&#xe863;</i></button> ';
                    td+='</td>';

                    html+=td;
                    html+='</tr>';
                    $('#active').append(html);
                }
            } else {
                ShowNotice(data.msg);
            }
        },
        complete:function(){
            defer.promise();
            tellFail();
        }
    });
}

function tellFail() {
    var defer = $.Deferred();
    $.ajax({
        type: "POST",
        url: "{{url_for('admin.RPCserver')}}",
        data: { action:'tellFail' },
        cache: false, //使用同步的方式,true为异步方式
        // async: false, //使用同步的方式,true为异步方式
        dataType: "json",
        success: function(data) {
            defer.resolve(data);
            if (data.code==1) {
                $('#fail').empty();
                for (var i = 0; i <= data.result.length - 1; i++) {
                    t=data.result[i];
                    html='<tr>';
                    html+='<td class="mdui-table-cell-checkbox"><label class="mdui-checkbox"><input type="checkbox" name="fail" value="\''+t['gid']+'#'+t['idx']+'\'"><i class="mdui-checkbox-icon"></i></label></td>';
                    html+='<td>'+t['name']+'</td>';
                    html+='<td>'+t['size']+'</td>';
                    html+='<td>'+t['down_status']+'</td>';
                    html+='<td>'+t['up_status']+'</td>';
                    //fail -- > restart
                    td='<td>';
                    td+='<button class="mdui-btn mdui-btn-icon" onclick="restart(\''+t['gid']+'\')" mdui-tooltip="{content: \'重新开始\'}"><i class="mdui-icon material-icons">&#xe863;</i></button> ';
                    td+='<button class="mdui-btn mdui-btn-icon" onclick="remove(\''+t['gid']+'#'+t['idx']+'\')" mdui-tooltip="{content: \'删除任务\'}"><i class="mdui-icon material-icons">&#xe872;</i></button>';
                    td+='<button class="mdui-btn mdui-btn-icon" onclick="removeAll(\''+t['gid']+'\')" mdui-tooltip="{content: \'删除同磁力下所有任务\'}"><i class="mdui-icon material-icons">&#xe92b;</i></button>';
                    td+='</td>';

                    html+=td;
                    html+='</tr>';
                    $('#fail').append(html);
                }
            } else {
                ShowNotice(data.msg);
            }
        },
        complete:function(){
            defer.promise();
            tellSuccess();
        }
    });
}

function tellSuccess() {
    var defer = $.Deferred();
    $.ajax({
        type: "POST",
        url: "{{url_for('admin.RPCserver')}}",
        data: { action:'tellSuccess' },
        cache: false,
        // async: false,
        dataType: "json",
        success: function(data) {
             defer.resolve(data);
            $('#success').empty();
            if (data.code==1) {
                for (var i = 0; i <= data.result.length - 1; i++) {
                    t=data.result[i];
                    html='<tr>';
                    html+='<td class="mdui-table-cell-checkbox"><label class="mdui-checkbox"><input type="checkbox" name="success" value="\''+t['gid']+'#'+t['idx']+'\'"><i class="mdui-checkbox-icon"></i></label></td>';
                    html+='<td>'+t['name']+'</td>';
                    html+='<td>'+t['size']+'</td>';
                    html+='<td>'+t['down_status']+'</td>';
                    html+='<td>'+t['up_status']+'</td>';
                    //success -- > remove
                    td='<td>';
                    td+='<button class="mdui-btn mdui-btn-icon" onclick="remove(\''+t['gid']+'#'+t['idx']+'\')" mdui-tooltip="{content: \'删除任务\'}"><i class="mdui-icon material-icons">&#xe872;</i></button>';
                    td+='<button class="mdui-btn mdui-btn-icon" onclick="removeAll(\''+t['gid']+'\')" mdui-tooltip="{content: \'删除同磁力下所有任务\'}"><i class="mdui-icon material-icons">&#xe92b;</i></button>';
                    td+='</td>';

                    html+=td;
                    html+='</tr>';
                    $('#success').append(html);
                }
            } else {
                ShowNotice(data.msg);
            }
        },
        complete: function(){
            defer.promise();
            tellUnselected();
        }
    });
}

function tellUnselected() {
    var defer = $.Deferred();
    $.ajax({
        type: "POST",
        url: "{{url_for('admin.RPCserver')}}",
        data: { action:'tellUnselected' },
        cache: false,
        // async: false,
        dataType: "json",
        success: function(data) {
             defer.resolve(data);
            $('#unselected').empty();
            if (data.code==1) {
                for (var i = 0; i <= data.result.length - 1; i++) {
                    t=data.result[i];
                    html='<tr>';
                    html+='<td class="mdui-table-cell-checkbox"><label class="mdui-checkbox"><input type="checkbox" name="unselected" value="\''+t['gid']+'#'+t['idx']+'\'"><i class="mdui-checkbox-icon"></i></label></td>';
                    html+='<td>'+t['name']+'</td>';
                    html+='<td>'+t['size']+'</td>';
                    html+='<td>'+t['down_status']+'</td>';
                    html+='<td>'+t['up_status']+'</td>';
                    //unselected -- > remove
                    td='<td>';
                    td+='<button class="mdui-btn mdui-btn-icon" onclick="selected(\''+t['gid']+'#'+t['idx']+'\')" mdui-tooltip="{content: \'选择下载文件\'}"><i class="mdui-icon material-icons">&#xe86c;</i></button>';
                    td+='<button class="mdui-btn mdui-btn-icon" onclick="remove(\''+t['gid']+'#'+t['idx']+'\')" mdui-tooltip="{content: \'删除任务\'}"><i class="mdui-icon material-icons">&#xe872;</i></button>';
                    td+='<button class="mdui-btn mdui-btn-icon" onclick="removeAll(\''+t['gid']+'\')" mdui-tooltip="{content: \'删除同磁力下所有任务\'}"><i class="mdui-icon material-icons">&#xe92b;</i></button>';
                    td+='</td>';

                    html+=td;
                    html+='</tr>';
                    $('#unselected').append(html);
                }
            } else {
                ShowNotice(data.msg);
            }
        },
        complete: function(){
            defer.promise();
        }
    });
}
function Refresh(){
    tellActive();
}
var interval_id=null;
function AutoRefresh(){
    if (interval_id){
        window.clearInterval(interval_id);
    }
    interval_id = window.setInterval(function(){
        if(need_refresh){
            Refresh();
        }
    },2000);
}
AutoRefresh();
</script>
{%endblock content%}
