{% macro pagination_widget(pagination, endpoint) %}
<div class="mdui-row-xs-12">
    <div class="mdui-chip mdui-col">
      <span class="mdui-chip-title{% if not pagination.has_prev %} disabled{% endif %}">
          <a href="{% if pagination.has_prev %}{{ url_for(endpoint,
          page = pagination.page - 1, **kwargs) }}{% else %}#{% endif %}" class="mdui-btn mdui-btn-icon">
          &laquo;
          </a>
      </span>
    </div>
    {% for p in pagination.iter_pages() %}
        {% if p %}
            {% if p == pagination.page %}
            <div class="mdui-chip mdui-col">
              <span class="mdui-chip-title mdui-tab-active">
                  <a href="{{ url_for(endpoint, page = p,**kwargs) }}" class="mdui-btn mdui-btn-icon">
                  {{ p }}
                  </a>
              </span>
            </div>
            {% else %}
            <div class="mdui-chip mdui-col">
              <span class="mdui-chip-title">
                  <a href="{{ url_for(endpoint, page = p,**kwargs) }}" class="mdui-btn mdui-btn-icon">
                  {{ p }}
                  </a>
              </span>
            </div>
             {% endif %}
        {% else %}
        <div class="mdui-chip mdui-col">
              <span class="mdui-chip-title disabled">
                  <a href="#" class="mdui-btn mdui-btn-icon">
                  &hellip;
                  </a>
              </span>
            </div>
        {% endif %}
    {% endfor %}
    <div class="mdui-chip mdui-col">
      <span class="mdui-chip-title{% if not pagination.has_next %} disabled{% endif %}">
          <a href="{% if pagination.has_next %}{{ url_for(endpoint,
        page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}" class="mdui-btn mdui-btn-icon">
        &raquo;
        </a>
      </span>
    </div>
</div>
<!-- <a class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-fab-fixed_left" href="{% if pagination.has_prev %}{{ url_for(endpoint,page = pagination.page - 1, **kwargs) |safe}}{% else %}#{% endif %}">
    <i class="mdui-icon material-icons">&#xe314;</i>
</a>
<a class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent mdui-fab-fixed" href="{% if pagination.has_next %}{{ url_for(endpoint,page = pagination.page + 1, **kwargs) |safe}}{% else %}#{% endif %}">
    <i class="mdui-icon material-icons">&#xe5cc;</i>
</a>
 -->
{% endmacro %}

{% macro Arraw(name,cur_type,sortby,order) %}
    <a href="{% if order=='asc' %}{{url_for('.index',sortby=cur_type,order='desc',**kwargs)|safe}}{%else%}{{url_for('.index',sortby=cur_type,order='asc',**kwargs)|safe}}{%endif%}">
    {{ name }}
    {% if cur_type==sortby %}
        {% if order=='asc' %}
            <i class="mdui-icon material-icons">arrow_upward</i>
        {% else %}
            <i class="mdui-icon material-icons">arrow_downward</i>
        {% endif %}
    {% endif %}
    </a>
{% endmacro %}


{% macro Admin_Arraw(name,cur_type,sortby,order) %}
    <a href="{% if order=='asc' %}{{url_for('admin.manage',sortby=cur_type,order='desc',**kwargs)|safe}}{%else%}{{url_for('admin.manage',sortby=cur_type,order='asc',**kwargs)|safe}}{%endif%}">
    {{ name }}
    {% if cur_type==sortby %}
        {% if order=='asc' %}
            <i class="mdui-icon material-icons">arrow_upward</i>
        {% else %}
            <i class="mdui-icon material-icons">arrow_downward</i>
        {% endif %}
    {% endif %}
    </a>
{% endmacro %}
